<%= form_for(@extension, html: {multipart: true})  do |f| %>
  <% if @extension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extension.errors.count, "error") %> prohibited this extension from being saved:</h2>

      <ul>
      <% @extension.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @extension.new_record? %>
    <div class="field">
      <%= label_tag :name %><br />
      <%= label_tag @extension.name %>
    </div>
    <div class="field">
      <%= label_tag :appid %><br />
      <%= label_tag @extension.appid %>
    </div>
  <% end %>

  <% if @extension.new_record? %>
    <div class="field">
      <%= f.label :crx %><br />
      <%= f.file_field :crx %>
    </div>
    <div class="field">
      <%= f.label :pem %><br />
      <%= f.file_field :pem %>
    </div>
    <div class="field">
      <%= f.label :appid %><br />
      <%= f.text_field :appid %>
    </div>
  <% end %>

  <% unless @extension.new_record? %>
    <div class="field">
      <%= label_tag :version %><br />
      <%= label_tag @extension.version %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :release %><br />
    <%= f.check_box :release %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
