<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @extension.name %>
</p>

<p>
  <b>Appid:</b>
  <%= @extension.appid %>
</p>

<p>
  <b>Version:</b>
  <%= @extension.version %>
</p>

<p>
  <b>Release:</b>
  <%= @extension.release %>
</p>


<%= link_to 'Edit', edit_extension_path(@extension) %> |
<%= link_to 'Back', extensions_path %>
